<div class="card border-primary card-accent-warning">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-5">
                <div class="small text-muted">{{"INFORMATION-PARTICIPANT"|translate}}</div>
            </div>
            <div class="col-sm-7 d-none d-md-block">
                <button type="button" class="btn btn-sm btn-danger float-right" (click)="delete()">{{'SUPPRIMER'|translate}}&nbsp;<i class="icon-user-follow"></i></button>
            </div>
        </div>
        <div class="chart-wrapper" style="margin-top:20px;" *ngIf="participant">
            <div class="row">
                <div class="col-md-6">
                    <label class="col-md-5">{{'NOM'|translate}}:</label>
                    <label class="col-md-5">{{participant.nom}}</label>
                    <label class="col-md-5">{{'PRENOM'|translate}}:</label>
                    <label class="col-md-5">{{participant.prenom}}</label>
                </div>
                <div class="col-md-6">
                    <label class="col-md-5">{{'SOCIETE'|translate}}:</label>
                    <label class="col-md-5">{{participant.societe?.nom}}</label>
                    <label class="col-md-5">{{'FONCTION'|translate}}:</label>
                    <label class="col-md-5">{{participant.fonction}}</label>
                </div>
                <div class="col-md-6">
                    <label class="col-md-5">{{'EMAIL'|translate}}:</label>
                    <label class="col-md-5">{{participant.email}}</label>
                    <label class="col-md-5">{{'Téléphone'|translate}}:</label>
                    <label class="col-md-5">{{participant.telephone}}</label>
                </div>
                <div class="col-md-6">
                    <label class="col-md-5">{{'Téléphone Portable'|translate}}:</label>
                    <label class="col-md-5">{{participant.telephonePortable}}</label>
                    <label class="col-md-5">{{'Compétence'|translate}}:</label>
                    <label class="col-md-5">
                        <span *ngFor="let c of participant.competences">
                            {{c.nom}}</span>
                    </label>
                </div>
                
                
            </div>
        </div>
    </div>
</div>