<div class="animated fadeIn">
    
    <div class="row">
        <div style="padding-bottom: 5px;" class="col-md-2">
            
                  <button class="btn btn-info">{{'ADD'|translate}}&nbsp;<i class="fa fa-plus"></i></button>
              
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-4" *ngFor="let evenement of evenements">
            <div class="card border-primary">
                <div class="card-header">
                    {{evenement.titre}}
                </div>
                <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                    laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                    ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                </div>
                <div class="card-footer">
                    {{evenement.domaine}}

                    <div class="card-header-actions">
                        <span class="badge badge-info">{{evenement.dateDebut}}</span>
                    </div>
                </div>
            </div>
        </div>
        <!--/.col-->

    </div>
    <!--/.row-->
</div>
