<div class="app-body">
  <main class="main d-flex" style="padding: 0;margin:0;">
    <div class="row container-fluid" style="padding: 0;margin:0;">
      <div class="row" style="width: 100%;background-color: white;">
        <div class="col-md-6">
          <div class="card" style="padding: 0!important;margin:0!important;">
            <div class="card-body">
              <form>
                <h1>Création de compte</h1>
                <div class="animated fadeIn" style="padding-top: 5%;">
                  <div class="row">
                    <div class="col-md-12 mb-4">
                      <!-- Nav tabs -->
                          <form #addForm="ngForm">
                      <tabset>
                        <tab heading="Identification">
                            <div class="form-group row">
                              <label class="col-md-3 col-form-label">{{'Etat civil'|translate}}</label>
                              <div class="form-check form-check-inline mr-1">
                                <input class="form-check-input" type="radio" name="inline-radios" id="inlineRadio1"
                                  [(ngModel)]="participant.etatCivil" value="M" required>
                                <label class="form-check-label" for="inlineRadio1">M.</label>
                              </div>
                              <div class="form-check form-check-inline mr-1">
                                <input class="form-check-input" type="radio" name="inline-radios" id="inlineRadio2"
                                  [(ngModel)]="participant.etatCivil" value="Mme" required>
                                <label class="form-check-label" for="inlineRadio2">Mme</label>
                              </div>
                              <div class="form-check form-check-inline mr-1">
                                <input class="form-check-input" type="radio" name="inline-radios" id="inlineRadio3"
                                  [(ngModel)]="participant.etatCivil" value="Mlle" required>
                                <label class="form-check-label" for="inlineRadio3">Mlle</label>
                              </div>
                            </div>

                            <div class="form-group row">
                              <label class="col-md-3 col-form-label">{{'Nom'|translate}}</label>
                              <input type="text" name="nom" id="nom" [(ngModel)]="participant.nom"
                                class="form-control col-md-6" required>
                            </div>
                            <div class="form-group row">
                              <label class="col-md-3 col-form-label">{{'Prénom(s)'|translate}}</label>
                              <input type="text" name="prenom" id="prenom" [(ngModel)]="participant.prenom"
                                class="form-control col-md-6" required>
                            </div>
                            <div class="form-group row">
                              <label class="col-md-3 col-form-label">{{'Fonction'|translate}}</label>
                              <input type="text" name="fonction" id="fonction" [(ngModel)]="participant.fonction"
                                class="form-control col-md-6" required>
                            </div>
                            <div class="form-group row">
                              <label class="col-md-3 col-form-label">{{'Compétence'|translate}}</label>

                              <div class="col-md-8 col-form-label row">
                                <div class="form-check col-md-4" *ngFor="let competence of competences">
                                  <input class="form-check-input" type="checkbox" [value]="competence.id"
                                    [id]="competence.id" (click)="addCompetence(competence)">
                                  <label class="form-check-label" [for]="competence.id">
                                    {{competence.nom}}
                                  </label>
                                </div>
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-md-3 col-form-label">{{'Langue'|translate}}</label>

                              <div class="col-md-8 col-form-label row">
                                <div class="form-check col-md-4" *ngFor="let langue of langues">
                                  <input class="form-check-input" type="checkbox" [value]="langue.id" [id]="langue.id"
                                    (click)="addLangue(langue)">
                                  <label class="form-check-label" [for]="langue.id">
                                    {{langue.nom}}
                                  </label>
                                </div>
                              </div>
                            </div>
                        </tab>
                        <tab heading="Adresse">
                          <div class="form-group row">
                            <label class="col-md-3 col-form-label">Email</label>
                            <input type="email" name="email" id="email" [(ngModel)]="participant.email"
                              class="form-control col-md-6" required>
                          </div>
                          <div class="form-group row">
                            <label class="col-md-3 col-form-label">{{'Téléphone'|translate}}</label>
                            <input type="tel" name="telephone" id="telephone" [(ngModel)]="participant.telephone"
                              class="form-control col-md-6" required>
                          </div>
                          <div class="form-group row">
                            <label class="col-md-3 col-form-label">{{'Téléphone Portable'|translate}}</label>
                            <input type="tel" name="telephonePortable" id="telephonePortable"
                              [(ngModel)]="participant.telephonePortable" class="form-control col-md-6" required>
                          </div>
                          <div class="form-group row">
                            <label class="col-md-3 col-form-label">{{'Pays'|translate}}</label>
                            <select class="form-control col-md-6" [(ngModel)]="participant.pays" name="pays" required>
                              <option *ngFor="let pay of pays;let i=index" [value]="i">{{pay.nom}}</option>
                            </select>
                          </div>
                        </tab>
                        <tab heading="Supplémentaire">
                          <div class="form-group row">
                            <label class="col-md-3 col-form-label">{{'Societe'|translate}}</label>
                            <select class="form-control col-md-6" [(ngModel)]="participant.societe" name="societe">
                              <option *ngFor="let societe of societes;let i=index" [value]="i">{{societe.nom}}</option>
                            </select>
                          </div>
                          <div class="form-group row">
                            <label class="col-md-3 col-form-label">{{'Activer planning'|translate}}</label>
                            <div class="col-md-6 col-form-label row">
                              <div class="form-check col-md-3">
                                <input class="form-check-input" type="checkbox"
                                  [(ngModel)]="participant.activerPlanning" [id]="planning" name="planning">
                              </div>
                            </div>
                          </div>
                        </tab>
                      </tabset>
                      <div class="form-group row" style="padding-top:1%">
                        
                      <button type="button" class="btn btn-danger btn-sm" [disabled]="!addForm.valid" (click)="creerSonCompte()">{{'CREERMONCOMPTE'|translate}}</button>
                      <button type="button" class="btn btn-default btn-sm" [routerLink]="'/login'">Annuler</button>
                      </div>
                          </form>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <!--/.col-->
          </div>
        </div>
        <div class="col-md-6" style="padding: 0;margin:0;background-image: url('assets/img/backgroundImage.jpeg');width: 100%;">

        </div>
      </div>
    </div>
  </main>
</div>