<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-6 col-lg-3">
            <div class="card text-white bg-info">
                <div class="card-body pb-0">
                    <div class="text-value">{{inscrit}}</div>
                    <div>{{'INSCRIT'|translate}}</div>
                </div>
                <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
                    <canvas baseChart class="chart" [datasets]="lineChart2Data" [labels]="lineChart2Labels"
                        [options]="lineChart2Options" [colors]="lineChart2Colours" [legend]="lineChart2Legend"
                        [chartType]="lineChart2Type"></canvas>
                </div>
            </div>
        </div>
        <!--/.col-->
        <div class="col-sm-6 col-lg-3">
            <div class="card text-white bg-primary">
                <div class="card-body pb-0">
                    <div class="text-value">0</div>
                    <div>{{'ENLIGNE'|translate}}</div>
                </div>
                <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
                    <canvas baseChart class="chart" [datasets]="lineChart1Data" [labels]="lineChart1Labels"
                        [options]="lineChart1Options" [colors]="lineChart1Colours" [legend]="lineChart1Legend"
                        [chartType]="lineChart1Type"></canvas>
                </div>
            </div>
        </div>
        <!--/.col-->
        <div class="col-sm-6 col-lg-3">
            <div class="card text-white bg-warning">
                <div class="card-body pb-0">

                    <button type="button" class="btn btn-transparent p-0 float-right">
                        <i class="icon-user"></i>
                    </button>
                    <div class="text-value">{{actif}}</div>
                    <div>{{"ACTIFS"|translate}}</div>
                </div>
                <div class="chart-wrapper mt-3" style="height:70px;">
                    <canvas baseChart class="chart" [datasets]="lineChart3Data" [labels]="lineChart3Labels"
                        [options]="lineChart3Options" [colors]="lineChart3Colours" [legend]="lineChart3Legend"
                        [chartType]="lineChart3Type"></canvas>
                </div>
            </div>
        </div>
        <!--/.col-->
        <div class="col-sm-6 col-lg-3">
            <div class="card text-white bg-danger">
                <div class="card-body pb-0">

                    <button type="button" class="btn btn-transparent p-0 float-right">
                        <i class="icon-user"></i>
                    </button>
                    <div class="text-value">{{inscrit-actif}}</div>
                    <div>{{"INACTIFS"|translate}}</div>
                </div>
                <div class="chart-wrapper mt-3" style="height:70px;">
                    <canvas baseChart class="chart" [datasets]="lineChart3Data" [labels]="lineChart3Labels"
                        [options]="lineChart3Options" [colors]="lineChart3Colours" [legend]="lineChart3Legend"
                        [chartType]="lineChart3Type"></canvas>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-5">
                    <h4 class="card-title mb-0">{{"PARTICIPANT"|translate}}</h4>
                    <div class="small text-muted">{{"INSCRIPTION"|translate}}</div>
                </div>
                <!--/.col-->
                <div class="col-sm-7 d-none d-md-block">
                    <button type="button" class="btn btn-danger float-right" [routerLink]="['add']">{{'ADD'|translate}}&nbsp;<i class="icon-user-follow"></i></button>
                </div>
                <!--/.col-->
            </div>
            <!--/.row-->
            <div class="chart-wrapper" style="margin-top:40px;">

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>{{'ID'|translate}}</th>
                            <th>{{'SOCIETE'|translate}}</th>
                            <th>{{'RESPONSABLE'|translate}}</th>
                            <th>{{'COMPETENCE'|translate}}</th>
                            <th>{{'STATUS'|translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let participant of participants;let i=index">
                            <td>{{participant.id}}</td>
                            <td>{{participant.societe?.nom}}</td>
                            <td style="cursor: pointer;" (click)="redirectedToParticipant(participant.id)">
                                {{participant.nom}} {{participant.prenom}}</td>
                            <td>
                                <span *ngFor="let c of participant.competences">
                                    {{c.nom}}</span>
                            </td>
                            <td>

                                <label class="switch switch-label switch-pill switch-success">
                                    <input type="checkbox" class="switch-input" [checked]="participant.status" (click)="changeStatut(participant)">
                                    <span class="switch-slider" data-checked="&#x2715;"
                                        data-unchecked="&#x2713;"></span>
                                </label>

                            </td>
                            <td>
                                <button class="btn btn-danger btn-sm" (click)="delete(participant,i)"><i class="fa fa-remove"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer">
            <div class="col-xs-12 col-12 d-sm-down-none">

                <pagination [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [(ngModel)]="currentPage"
                    [maxSize]="7" (pageChanged)="pageChanged($event)" class="pagination-sm" previousText="&lsaquo;"
                    nextText="&rsaquo;"  firstText="&laquo;" lastText="&raquo;" [boundaryLinks]="true"></pagination>
            </div>
        </div>
    </div>
</div>