<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-6 col-lg-3">
            <div class="card text-white bg-info">
                <div class="card-body pb-0">
                    <div class="text-value">{{inscrit}}</div>
                    <div>Inscrits</div>
                </div>
                <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
                    <canvas baseChart class="chart" [datasets]="lineChart2Data" [labels]="lineChart2Labels"
                        [options]="lineChart2Options" [colors]="lineChart2Colours" [legend]="lineChart2Legend"
                        [chartType]="lineChart2Type"></canvas>
                </div>
            </div>
        </div>
        <!--/.col-->
        <div class="col-sm-6 col-lg-3">
            <div class="card text-white bg-primary">
                <div class="card-body pb-0">
                    <div class="text-value">0</div>
                    <div>En ligne</div>
                </div>
                <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
                    <canvas baseChart class="chart" [datasets]="lineChart1Data" [labels]="lineChart1Labels"
                        [options]="lineChart1Options" [colors]="lineChart1Colours" [legend]="lineChart1Legend"
                        [chartType]="lineChart1Type"></canvas>
                </div>
            </div>
        </div>
        <!--/.col-->
        <div class="col-sm-6 col-lg-3">
            <div class="card text-white bg-warning">
                <div class="card-body pb-0">

                    <button type="button" class="btn btn-transparent p-0 float-right">
                        <i class="icon-user"></i>
                    </button>
                    <div class="text-value">{{actif}}</div>
                    <div>Actifs</div>
                </div>
                <div class="chart-wrapper mt-3" style="height:70px;">
                    <canvas baseChart class="chart" [datasets]="lineChart3Data" [labels]="lineChart3Labels"
                        [options]="lineChart3Options" [colors]="lineChart3Colours" [legend]="lineChart3Legend"
                        [chartType]="lineChart3Type"></canvas>
                </div>
            </div>
        </div>
        <!--/.col-->
        <div class="col-sm-6 col-lg-3">
            <div class="card text-white bg-danger">
                <div class="card-body pb-0">

                    <button type="button" class="btn btn-transparent p-0 float-right">
                        <i class="icon-user"></i>
                    </button>
                    <div class="text-value">{{inscrit-actif}}</div>
                    <div>Inactifs</div>
                </div>
                <div class="chart-wrapper mt-3" style="height:70px;">
                    <canvas baseChart class="chart" [datasets]="lineChart3Data" [labels]="lineChart3Labels"
                        [options]="lineChart3Options" [colors]="lineChart3Colours" [legend]="lineChart3Legend"
                        [chartType]="lineChart3Type"></canvas>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-5">
                    <h4 class="card-title mb-0">Participant</h4>
                    <div class="small text-muted">Inscription</div>
                </div>
                <!--/.col-->
                <div class="col-sm-7 d-none d-md-block">
                    <button type="button" class="btn btn-primary float-right"><i class="icon-plus"></i></button>
                </div>
                <!--/.col-->
            </div>
            <!--/.row-->
            <div class="chart-wrapper" style="margin-top:40px;">

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>Société</th>
                            <th>Responsable</th>
                            <th>Compétence</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let participant of participants">
                            <td>{{participant.id}}</td>
                            <td>{{participant.societe}}</td>
                            <td>{{participant.responsable}}</td>
                            <td>{{participant.competence}}</td>
                            <td>

                                <label class="switch switch-label switch-pill switch-danger">
                                    <input type="checkbox" class="switch-input" [checked]="!participant.status">
                                    <span class="switch-slider" data-checked="&#x2715;"
                                        data-unchecked="&#x2713;"></span>
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer">
            <div class="col-xs-12 col-12 d-sm-down-none">

                <pagination [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [(ngModel)]="currentPage"
                    [maxSize]="7" (pageChanged)="pageChanged($event)" class="pagination-sm" previousText="&lsaquo;"
                    nextText="&rsaquo;" [boundaryLinks]="true"></pagination>
            </div>
        </div>
    </div>
</div>