<div class="card border-primary card-accent-warning">
    <div class="card-header">
        {{"Définir mon choix de rendez-vous"|translate}}
    </div>
    <div class="card-body">
        <div class="form-group row">
            <label class="col-md-2 col-form-label">{{'CHOIX'|translate}} 1</label>
            <select class="form-control col-md-4" [(ngModel)]="selectedParticipantId1" name="selectedParticipantId1" required>
                <option *ngFor="let participant of participants" [value]="participant.id">{{participant.nom}} {{participant.prenom}}</option>
            </select>
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-form-label">{{'CHOIX'|translate}} 2</label>
            <select class="form-control col-md-4" [(ngModel)]="selectedParticipantId2" name="selectedParticipantId2" required>
                <option *ngFor="let participant of participants" [value]="participant.id">{{participant.nom}} {{participant.prenom}}</option>
            </select>
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-form-label">{{'CHOIX'|translate}} 3</label>
            <select class="form-control col-md-4" [(ngModel)]="selectedParticipantId2" name="selectedParticipantId2" required>
                <option *ngFor="let participant of participants" [value]="participant.id">{{participant.nom}} {{participant.prenom}}</option>
            </select>
        </div>
    </div>
    <div class="card-footer text-right">
        <button class="btn btn-danger btn-sm" (click)="updated()">{{'EDIT'|translate}}</button>
        <button class="btn btn-default btn-sm" >{{'CLOSE'|translate}}</button>
    </div>
</div>